.add-tourism-spot {
    margin: 48px 589px 60px 130px;
    max-width: 100%;
}

.add-tourist-spot-container {
    max-width: 100%;
}

.add-tourist-spot-form-title {
    margin-bottom: 32px;
    font-family: $poppins;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    max-width: 100%;
}

.add-tourist-spot-form {
    display: flex;
    max-width: 100%;
}

.add-tourist-spot-form-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 288px;
    height: 212px;
    border: 2px solid $gray-100;
    border-radius: 8px;
    max-width: 100%;
    margin-right: 16px;
}
.add-tourist-spot-form-image-container-p {
    font-family: $roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: $gray-400;
    padding: 144pc 94px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.add-tourist-spot-title-description {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.add-tourist-spot-title {
    width: 328px;
    height: 56px;
    margin-bottom: 16px;
    padding: 16px;
    border: 2px solid $gray-100;
    border-radius: 8px;
    max-width: 100%;
}

.add-tourist-spot-description {
    width: 417px;
    height: 136px;
    padding: 38px 0 0 20px;
    border: 2px solid $gray-100;
    border-radius: 8px;
    max-width: 100%;
}

.add-tourism-spot-form-button {
    max-width: 100%;
}

.add-tourism-spot-button {
    margin: 16px auto 0 600px;
    display: flex;
    align-items: center;
    padding: 16px 20px;
    background: $orange-100;
    border: 1px solid $orange-100;
    border-radius: 8px;
    font-family: $poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    color: $white;
    max-width: 100%;
}

@media (max-width: 1024px) {
    .add-tourism-spot {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 16px 16px 68px 16px;
    }

    .add-tourist-spot-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .add-tourist-spot-form {
        display: flex;
        flex-direction: column;
    }

    .add-tourist-spot-form-image-container {
        margin-bottom: 16px;
    }

    .add-tourist-spot-title-description {
        margin-bottom: 16px;
    }

    .add-tourist-spot-title {
        width: 416px;
    }

    .add-tourism-spot-button {
        margin: 16px auto;
        width: 416px;
        justify-content: center;
    }
}

@media (max-width: 912px) {
    .add-tourism-spot {
        margin: 16px 16px 68px;
    }
    .add-tourist-spot-form-title {
        margin-right: 11px;
    }
}

@media (max-width: 768px) {
    .add-tourism-spot {
        margin: 16px 16px 68px;
    }
    .add-tourist-spot-form-title {
        margin-right: 11px;
    }
}
