.tourism-spots {
    margin: 0 132px 190px 132px;
}

.tourism-spots-title {
    font-family: $poppins;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: $black;
    margin-bottom: 32px;
}

.tourism-spots-banners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.tourism-spots-banners-image-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 576px;
    height: 212px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.tourism-spots-banners-title-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 10px;
    width: 288px;
    height: 212px;
    border-radius: 8px;
}

.tourism-spots-banners-title {
    font-family: $poppins;
    width: 240px;
    height: 60px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: $gray-500;
    margin-bottom: 8px;
    align-self: flex-start;
}

.tourism-spots-banners-description {
    font-family: $roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $gray-400;
    flex: none;
    align-self: flex-start;
    flex-grow: 0;
}

@media (max-width: 1024px) {
    .tourism-spots {
        margin: 0 16px 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tourism-spots-banners {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 50%;
    }

    .tourism-spots-banners-image-description {
        flex-direction: column;
        height: auto;
        width: 50%;
    }

    .tourism-spots-banners-image-container {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .tourism-spots-banners-image-description {
        width: 100%;
    }
    .tourism-spots-banners-image {
        width: 100%;
    }

    .tourism-spots-banners-title-description {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 912px) {
    .tourism-spots-banners {
        width: 100%;
    }

    .tourism-spots-banners-image-description {
        width: 100%;
    }

    .tourism-spots-banners-image-container {
        width: 100%;
    }

    .tourism-spots-banners-title-description {
        width: 100%;
    }

    .tourism-spots-banners-title {
        text-align: center;
        width: 100%;
    }

    .tourism-spots-banners-description {
        align-self: flex-start;
        padding: 24px;
    }
}
