//colors

$gray-100: #e5e5e5;
$gray-400: #858585;
$gray-500: #333333;

$orange-100: #ff5a5f;

$white: #ffffff;

$black: #000000;

//fonts

$poppins: "Poppins", sans-serif;

$roboto: "Roboto", sans-serif;
